
<Router AppAssembly="@typeof(MauiProgram).Assembly">
    <Found Context="routeData">
        @if (routeData.PageType.BaseType == typeof(PublicBase))
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(_Layout)" />
        }
        else
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        }
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(_Layout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
